.BookListing p {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
  font-weight: bold;
}

header {
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: black;
}

.SearchBar {
  text-align: center;
  background-color: gray;
}

.filterBar {
  background-color: rgb(160, 156, 156);
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
